.cardBox {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 50%;
  height: 120px;
  background-color: #ebeef9;
  margin-top: 10px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-left: 240px;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.4s ease;

  .cardTitle {
    margin-left: 40px;
    width: 80%;
    font-size: clamp(28px, 2.77778vw, 40px);
    line-height: 120%;
  }
  .cardDetail {
    display: flex;
    .cardTag {
      margin-top: 20px;
      margin-left: 20px;
    }
    .cardDate {
      width: 100px;
      margin-top: 20px;
      margin-left: 40px;
      height: 30px;
      line-height: 30px;
    }
    .cardMes {
      margin-top: 20px;
      margin-left: 40px;
      width: 400px;
      //   height: 90px;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* 这里是超出几行省略 */
      overflow: hidden;
    }
  }

  .cardImg {
    width: 100%;
  }
}
.cardBox:hover {
  transform: translateX(10px) translateY(-15px);
}
